* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.principal {
    background-image: url(../../images/palta.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position-y: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(3px) brightness(70%);
}

.container:hover {
    backdrop-filter: blur(3px) brightness(67%);
}

.title {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.by {
    color: rgb(255, 255, 255);
    font-style: italic;
}

.click {
    color: rgb(255, 255, 255);
    font-weight: bold;
}